@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  margin: 0;
  padding: 10px 20px;
  background-color: aqua;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: orange;
  color: black;
  width: 97.3%;
  height: 47px;
  border-radius: 6px;
  margin-bottom: 0;
  position: fixed; /* Fix the navbar position */
  top: 0; /* Align the navbar to the top of the viewport */
  width: 100%; /* Make the navbar full width */
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.Navbar span {
  margin-right: 20px;
  cursor: pointer;
}

.rightNav {
  display: flex;
  align-items: center;
  width: 100%;
  text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

.profile {
  font-weight: bold;
}

/* Position rightNav to the right side */
.rightNav {
  margin-left: 75%;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .Navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  /* .rightNav {
    margin-top: 10px;
  } */

  .Navbar span {
    margin: 0;
    margin-right: 10px;
    /* margin-bottom: 2px; */
  }
}

.card {
  /* margin: 10px 20px; */
  background-color: white;
  color: blueviolet;
  min-width: 100%;
  min-height: 780px;
  max-width: 90%;
  max-height: auto;
  border-radius: 30px;
  margin: 20px 10px;
}

.cardText {
  padding: 300px 20px;
  padding-left: 20px;
  font-size: 50px;
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  margin-bottom: 0;
}
#ball {
  color: crimson;
  font-family: "Times New Roman", Times, serif;
}
.coverDiv {
  display: flex;
  box-shadow: 14px 14px 1px rgba(0, 0, 0, 0.1);
}
.textDiv {
  padding: 0;
  margin: 0;
  min-height: 780px;
  height: auto;
  width: 50%;
}
.textDiv,
.imageDiv {
  background-color: peru;
}
.imageDiv {
  /* background-image: url(/src/assets/mamba.png);
  background-size: cover;
  background-position: center; */

  padding: 0;
  margin: 0;
  min-height: 780px;
  height: auto;
  width: 50%;
  position: relative;
}
.imageDiv img {
  width: 100%;
  height: auto;

  /* to make movable */
  position: absolute;
  top: 100px;
  cursor: grab;
}
.mamba {
  z-index: 2;
  left: 20px;
}
.mj {
  z-index: 1;
  left: -120px;
}
.posmj {
  position: relative;
}
